:root {
  --screen-max: 1200px;
  --base-font: "Montserrat";
  sans-serif;
  --base-font2: "Pridi";
  "Times New Roman", serif;
  --grey-light: #fefefe;
  --grey-dark: #525252;
  --grey: #696969;
  --font-color-light: var(--grey-light);
}

/*Schriften*/

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: "Pridi";
  src: url(../fonts/Pridi-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Pridi";
  src: url(../fonts/Pridi-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Pridi";
  src: url(../fonts/Pridi-Light.ttf);
  font-weight: lighter;
}

html, body {
  margin: 0;
}

html * {
  box-sizing: border-box;
}

/*logo z-index bezieht sich auf die Posotion des Logos*/

#logo {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 5em;
  width: 5em;
  height: 5em;
}

#logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--grey-dark) url(../image/Logo_Muthwill.svg) no-repeat;
  background-size: contain;
  text-indent: -9999em;
  overflow: hidden;
}

#logo-part-2 {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 10em;
  width: 9em;
  height: 5em;
}

#logo-part-2 a {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  text-decoration: none;
}

#logo-part-2 span {
  padding-left: auto;
}

/*Logo Ende*/

body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  background: orange;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

@media screen and (min-width: 576px) {
  footer .footer-top {
    display: flex;
  }

  footer .footer-left,
  footer .footer-right {
    flex: 1;
  }

  footer .footer-right {
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  body {
  }

  .teaser p {
  max-width: 50%
  }

}

@media screen and (min-width: 992px) {
  body {
  }

  .teaser p {
  max-width: 50%
  }

.teaser {
    height: 35vw;
  }

}

@media screen and (min-width: 1200px) {
  body {
  }

  .teaser p {
  max-width: 50%
  }

.teaser {
  height: 35vw;
}

}

header#main-header {
  position: relative;
  width: 100%;
  height: 45vw;
  background: lightgreen;
  overflow: hidden;
}

header#main-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

header#main-header .inner-wrapper {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
}

header#main-header h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--grey-light);
  font-family: var(--base-font2);
  font-weight: lighter;
  text-transform: uppercase;
}

/*Start Main*/

main {
  background: white;
  flex: 1;
}

main .inner-wrapper {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
}

.content-element .header h2 {
  color: var(--grey-dark);
  font-family: var(--base-font2);
  font-weight: lighter;
  text-transform: uppercase;
}

.content-element .teaser {
background: -webkit-linear-gradient(rgba(255, 165, 0, 0.5),
            rgba(255, 165, 0, 0.5)),
            url(../image/main_orange.jpg)
            no-repeat;
background-size: cover;
}

.teaser {
font-family: var(base-font2);
color: var(--grey-light);
font-weight: lighter;
}


/* Hier beginnt der Footer*/


footer .inner-wrapper {
  position: relative;
  max-width: var(--screen-max);
  margin: 0 auto;
}

footer {
  background: var(--grey-dark);
}

footer a {
  font-family: var(--base-font2);
  font-weight: lighter;
  color: var(--grey-light);
  text-decoration: none;
  text-transform: uppercase;
}

footer ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

footer .footer-top {}

footer .footer-left {}

footer .footer-right {}

footer .footer-bottom {
  font-family: var(--base-font2);
  font-weight: lighter;
  color: var(--grey);
}
