.item1 {
  grid-column: 1;
  grid-row: 1 / 3;
}

.item2 {
  grid-column:
  grid-row:
}

.item3 {
  grid-column:
  grid-row:
}

.item4 {
  grid-column:
  grid-row:
}

.item5 {
  grid-column:
  grid-row:
}

.item6 {
  grid-column:
  grid-row:
}

.grid-container {
  display: grid;
  grid-template-areas: repeat(2, 1fr);
grid-gap: 10px;
}
