
* {font-family: 'Arial', sans-serif;}


.grid-container {
  display: grid;
  grid-template-columns: fit-content(100%);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

h2 {
  text-align: center;
}

/*item01*/

.item1 {
  width: 300px;
  margin: 0 auto;
}

.item1 ul{
text-align: center;
list-style: none;
margin: 0;
padding: 0;
line-height: 140%;
}

.item1 a {
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
color: black;
}

/*item2*/

.item2 {
  width: 300px;
  margin: 0 auto;
}

.item2 ul {
text-align: center;
text-decoration: none;
list-style: none;
margin: 0;
padding: 0;
line-height: 140%;
}

.item2 a {
  text-decoration: none;
  color: red;
}

.item2 a:hover {
  text-decoration: underline;
}


.button01 button {
  border: 3px solid black;
  border-radius: none;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 5px;
  width: 100%;
  margin-top: 20px;
}

.button01 button:hover {
  background-color: black;
  color: white;
}


/*item3*/

.item3 {
  width: 300px;
  margin: 0 auto;
  line-height: 300%;
  text-align: center;
}

.button02 button {
  border: none;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}

.button03 button {
  border: none;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
}

@media screen and (min-width: 575px) {


.grid-container {
  grid-template-columns: fit-content(100%);
  grid-template-columns: auto auto auto;
}


h2 {
  text-align: left;
  }

.item1 ul ,
.item2 ul
{
  text-align: left;
}
