:root {
  --screen-max: 1200px;
  --base-font: 'Montserrat', sans-serif;
  --base-font2: 'OpenSans', sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Thin.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
}

@media screen and (min-width: 400px) {

}

@media screen and (min-width: 576px) {

  .inner-wrapper {
    max-width: var(--screen-max);
    margin: 0 auto;
    position: relative;
  }

.menu01 {
    position: relative;
}


  .menu01 {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  nav ul li a {
padding: 10px;
  }


  #main-header {
  position: relative;
  color: white;
  margin-bottom: 100px;
  }

  #main-header img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
      z-index: -100;
      position: relative;
  }


  #main-header .inner-wrapper .content-main-header {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 5vw;
    left: 0;
    z-index: 2;
  }

  #main-header .inner-wrapper .content-main-header p, h1 {
    padding-left: 0;
    padding-right: 45%;
    line-height: 15px;
    margin-top: 15px;

  }



  #main-header .flagge img {
  width: 179px;
  height: 123px;
  position: absolute;
  right: 0;
  bottom: -60px;
  z-index: 200;
  }

  #main-header .overlay01 img {
    width: 569px;
    height: 78px;
    position: absolute;
    right: 5px;
    bottom: -40px;
  }

  p.borte {
    position: absolute;
    right: 200px;
    bottom: -25px;
    z-index: 100;
    color: black;
    font-weight: bold;

  }


    }

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}

body, html {
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: var(--base-font2);
}

/* Start menu01 */

.menu01 {
  width: 100%;
  background: white;
  height: auto;
  padding-top: 10px;
}

/* Start Logo */
/* Ende Logo */
/* Start Nav */
nav {
  box-sizing: border-box;
  width: 100%;
  font-family: var(--base-font2);
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 20px;
}

nav ul {
  margin: 0;
  padding: 0;

}

nav ul li {
  position: relative;
  float: right;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 5px;
}

nav ul li a:hover {
  color: #be1616;
}

/* Ende Nav */

/* Start main-header */

#main-header {
  color: black;
}

  #main-header img {
      width: 100%;
      height: 100%;
    }

  #main-header .content-main-header {
  padding-left: 20px;
  }

#main-header .flagge img {
width: 179px;
height: 123px;
}

#main-header .overlay01 img {
  width: 569px;
  height: 78px;
}


.content01 .top-text h2 {
  text-transform: uppercase;
}

.content01 .top-text p, h2 {
  text-align: center;
  line-height: 5px;
}

.content01-box {
  display: grid;
  grid-template-columns: fit-content(100%);
  align-content: center;
  grid-auto-rows: repeat(3, 1fr);

}

.content01-box .item01 p, h3 {
text-align: center;
padding: 0 5vw;
}

.content01-box .item02 p, h3 {
  text-align: center;
  padding: 0 5vw;
}

.content01-box .item03 p, h3 {
  text-align: center;
  padding: 0 5vw;
}

.content01-box .item01 a, .item02 a, .item03 a {
  color: #be1616;
}

.content01-box .item01 img, .item02 img, .item03 img  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}



/* Start content02*/

.content02 {
  display: grid;
  grid-template-columns: fit-content(100%);
  grid-template-columns: repeat(2, 1fr);

}

.grid-item {
  position: relative;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0,0,.7);
  opacity: 0;
  transition: opacity .3s ease;
}

.grid-item:hover .grid-overlay {
  opacity: 1;
}

.content02 img {
width: 100%;
height: auto;
margin: 0;
}


/* Start Footer */

footer {
  box-sizing: border-box;
  background: #414141;
  color: lightgray;
  font-family: var(--base-font2);
  padding-top: 30px;
  padding-bottom: 15px;
  font-weight: lighter;
}

.footer-left {
  padding-left: 5px;
  margin: 0;
  padding-top: 0;
}

.footer-right a {
  color: lightgray;
}

.footer-right ul {
margin: 0;
padding: 0;
}

.footer-right ul li {
list-style: none;
padding-left: 5px;
}

.footer-bottom {
  background-color: black;
  padding: 10px 5px;
  margin: 10px 0;
}


footer .footer-bottom-right a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}





  @media screen and (min-width: 576px) {


    footer .footer-top {
      display: flex;
      flex-direction: row;
      flex: 1;
    }

    .footer-top .footer-right > ul > li {
      text-align: right;
    }

    .footer-top .footer-left p {
      padding-right: 45%;
    }






    .content02 {
        grid-template-columns: repeat(4, 1fr);
      }

      .content01-box {
      grid-template-columns: repeat(3, 1fr);
        }

        #main-header {
          color: white;
        }

  }
