:root {
  --screen-max: 1200px;
  --base-font: 'Montserrat', sans-serif;
  --base-font2: 'OpenSans', 'Arial', sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Thin.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
}

@media screen and (min-width: 400px) {

}

@media screen and (min-width: 576px) {

  .inner-wrapper {
    max-width: var(--screen-max);
    margin: 0 auto;
    position: relative;
  }

.menu01 {
    position: relative;
}


  .menu01 {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  nav ul li a {
padding: 10px;
  }


  #main-header {
  position: relative;
  color: white;
  margin-bottom: 100px;
  }

  #main-header img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
      z-index: -100;
      position: relative;
  }


  #main-header .inner-wrapper .content-main-header {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 5vw;
    left: 0;
    z-index: 2;
  }

  #main-header .inner-wrapper .content-main-header p, h1 {
    padding-left: 0;
    padding-right: 45%;
    line-height: 15px;
    margin-top: 15px;

  }



  #main-header .flagge img {
  width: 179px;
  height: 123px;
  position: absolute;
  right: 0;
  bottom: -60px;
  z-index: 200;
  }

  #main-header .overlay01 img {
    width: 569px;
    height: 78px;
    position: absolute;
    right: -5px;
    bottom: -40px;
  }

  p.borte {
    position: absolute;
    right: 200px;
    bottom: -25px;
    z-index: 100;
    color: black;
    font-weight: bold;

  }



    }

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {}

body, html {
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: var(--base-font2);
}

/* Start menu01 */

.menu01 {
  width: 100%;
  background: white;
  height: auto;
  padding-top: 10px;
}

/* Start Logo */
/* Ende Logo */
/* Start Nav */
nav {
  box-sizing: border-box;
  width: 100%;
  font-family: var(--base-font2);
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 20px;
}

nav ul {
  margin: 0;
  padding: 0;

}

nav ul li {
  position: relative;
  float: right;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 5px;
}

nav ul li a:hover {
  color: #be1616;
}

/* Ende Nav */

/* Start main-header */

#main-header {
  color: black;
}

  #main-header img {
      width: 100%;
      height: 100%;
    }

  #main-header .content-main-header {
  padding-left: 20px;
  }

    @media screen and (min-width: 576px) {
        #main-header {
          color: white;
        }
}

#main-header .flagge img {
width: 179px;
height: 123px;
}

#main-header .overlay01 img {
  width: 569px;
  height: 78px;
}

/* Start grid */

.content01 .top-text p, h2 {
  text-align: center;
  line-height: 5px;
}

.content01-box {
  display: grid;
  grid-template-columns: fit-content(100%);
  align-content: center;
  grid-auto-rows: repeat(3, 1fr);
  margin-bottom: 100px;
}

.content01-box .item01 p, h3 {
text-align: center;
padding: 0 5vw;
}

.content01-box .item02 p, h3 {
  text-align: center;
  padding: 0 5vw;
}

.content01-box .item03 p, h3 {
  text-align: center;
  padding: 0 5vw;
}

.content01-box .item01 a, .item02 a, .item03 a {
  color: #be1616;
}

.content01-box .item01 img, .item02 img, .item03 img  {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

    @media screen and (min-width: 576px) {
      .content01-box {
      grid-template-columns: repeat(3, 1fr);
        }

/* Start content02*/

.content02 {
  display: grid;
  grid-template-columns: fit-content(100%);
  grid-template-columns: repeat(4, 1fr);

}

.content02 img {
width: 100%;
height: auto;
margin: 0;
}

.content02 img:hover {
opacity: 0.1;
}
